body {
  min-width: 900px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  background: #ffffff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  background-color: #eeeeee;
}
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.index-logo {
  float: left;
  margin-right: 139px;
  width: 160px;
  min-height: 90px;
  padding-top: 20px;
}

.main-navigation {
  float: left;
  width: 450px;
  min-height: 110px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 49px 22px 31px 22px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  opacity: 0.4;
}

.user-block {
  float: right;
  max-width: 100px;
  min-height: 110px;
}

.cart {
  position: relative;
  display: block;
  padding: 49px 0 31px 28px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.cart:hover {
  color: #fb565a;
}

.cart:active {
  opacity: 0.4;
}

.cart::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: transparent url("../img/sprite.png") no-repeat;
  opacity: 0.3;
}

.cart:hover::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -18px 0;
  opacity: 1.0;
}

.slider {
  position: relative;
  width: 880px;
  margin: 0 auto;
}
.slide {
  min-height: 310px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 75px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slide-text {
  width: 480px;
  padding: 30px 0;
}

.title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}


.btn {
  display: inline-block;
  padding: 10px 70px;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 13px;
}

.btn:hover {
  background-color: #d6494d;
}

.btn:active {
  background-color: #b63538;
}

.slide:nth-child(1) {
  background-image: url("../img/slider-bg1.png");
}

.slide:nth-child(2) {
  background-image: url("../img/slider-bg2.png");
}

.slide:nth-child(3) {
  background-image: url("../img/slider-bg3.png");
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.products-item {
  float: left;
  width: 240px;
  margin: 80px 0 80px 80px;
}

.products-item:first-child {
  margin-left: 0;
}

.image {
  margin: 0;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0;
}

.products-item p {
  font-size: 15px;
}

.btn1 {
  display: inline-block;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 11px;
}

.btn1:hover {
  background-color: #d6494d;
}

.btn1:active {
  background-color: #b63538;
}

.btn2 {
  display: inline-block;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #00ca74;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 11px;
}

.btn2:hover {
  background-color: #01a25e;
}

.btn2:active {
  background-color: #009053;
}

.btn3 {
  display: inline-block;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #efc84a;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 11px;
}

.btn3:hover {
  background-color: #d6ae2c;
}

.btn3:active {
  background-color: #c09b24;
}

.line {
  width: 880px;
  height: 2px;
  background-color: #eeeeee;
}

.about-left {
  float: left;
  width: 580px;
  margin-top: 65px;
  margin-bottom: 51px;
}

.about-left h3 {
  margin-top: 47px;
  font-size: 16px;
}

.about-left li {
  margin-bottom: 23px;
}

.about-right {
  float: right;
  width: 240px;
  margin-top: 55px;
}

.logo2 {
  margin-left: 30px;
}

.since {
  font-size: 16px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.about-right h3 {
  font-size: 16px;
  margin-top: 65px;
}

.about-right li {
  margin-bottom: 23px;
}

.third-block {
  height: 168px;
  margin-top: 42px;
}

.third-block a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 115px;
  margin-bottom: 35px;
  opacity: 0.2;
}

.third-block a:first-child {
  margin-left: 14px;
}

.third-block a:hover,
.third-block a:active {
  opacity: 1.0;
}

.map {
  position: relative;
  background: #ffffff url("../img/map.jpg") no-repeat center;
  width: auto;
  height: 416px;
  margin-top: 39px;
}

.contacts {
  position: absolute;
  top: 87px;
  width: 210px;
  padding: 26px 20px;
  background-color: #ffffff;
}


.btn4 {
  display: inline-block;
  padding: 10px 55px;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 13px;
}

.btn4:hover {
  background-color: #d6494d;
}

.btn4:active {
  background-color: #b63538;
}

.contacts h3 {
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 0;
}

.contacts p {
  line-height: 20px;
}

.main-footer {
  margin-top: 75px;
  margin-bottom: 75px;
}

.footer-social {
  float: left;
  margin-right: 62px;
}

.social-btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #e1e1e1 url("../img/sprite.png") no-repeat center;
  border-radius: 50%;
  margin: 0 14px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}
.social-btn:first-child {
  margin-left: 0;
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:active {
  background-color: #d6494d;
}

.social-btn-vk {
  background-position: -43px 23px;
}

.social-btn-fb {
  background-position: 21px -27px;
}

.social-btn-inst {
  background-position: -44px -27px;
}

.footer-lets p {
  margin-top: 10px;
}

/* Всплывающая форма */

.modal-content {
  position: absolute;
  bottom: -1040px;
  left: 50%;
  display: none;
  width: 470px;
  margin-left: -315px;
  padding: 55px 80px;
  background: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-content-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  font-size: 0;
  background-color: #fb565a;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 8px;
  width: 25px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.login-form input[type="text"] {
  width: 194px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.letter-form input[type="text"] {
  width: 442px;
  height: 94px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.column1 {
  float: left;
  width: 222px;
}

.column2 {
  float: right;
  width: 222px;
}

.modal-content p {
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.column3 {
  clear: both;
  padding-top: 22px;
}

.btn-5 {
  width: 100%;
  display: inline-block;
  padding: 12px 70px;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 49px;
}

.btn-5:hover {
  background-color: #d6494d;
}

.btn-5:active {
  background-color: #b63538;
}